header {
    padding-block: 1rem;
    font: var(--text-md);
}

header .container {
    flex-direction: column;

    padding-inline: 2rem;
}

#profile {
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 2rem;
}

#profile > div {
    max-width: 24rem;
}

#profile img {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    border-radius: 50%;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: .5rem;
}

#info {
    list-style: none;

    flex-direction: column;
    gap: 1rem;
    width: 17.5rem;
}

#info li {
    align-items: center;
    gap: 1rem;
}

@media (width >= 80em) {
    header {
        padding-block: 1.25rem;

        & .container {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    #profile {
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        & img {
            width: 11rem;
            height: 11rem;
        }
    }
}